@use '../base/colors';

.btn {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: .7em;
  background: colors.$purple;
  color: colors.$btnFont;
  padding: 7px 15px;
  display: block;
  text-align: center;
  border: none;
  border-radius: 100px;
  cursor: pointer;


  &:hover,
  &:active {
    background: colors.$lightPurple;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: dashed 3px colors.$borderLightGray;
  }
}