@use 'colors';

html {
  background-color: colors.$bodyBackground;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 0.2rem;
}

*::-webkit-scrollbar-track {
  background: colors.$borderLightGray;
}

*::-webkit-scrollbar-thumb {
  background: colors.$bodyFont;
  border-radius: 40px;
}