$bodyBackground: #fffdff;
$bodyFont: #625a5a;
$asideFont: #a0a3a8;
$headingFont: #474c50;
$screenBackground: #ffffff;
$infoBarBackground:#fafafa;
$inputBarBackground:white;
$messagesBackground: #fffdff;
$borderLightGray: #eeeef0;
$purple: #5e1eca;
$lightPurple: #8e55f0;
$alert: #ffe4be;
$green: #69f0ae;
$white: white;
$notice: #e1eff2;
$btnFont: white;